<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>Hoc Ngay</button>
        </div>
        <div class="col-lg-9">
            <h2>{{course.name}}</h2>
            <iframe frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="100%" height="100%" src="https://www.youtube.com/embed/{{course.videoID}}" id="widget10" __idm_id__="813478917"></iframe>
            <p>{{course.description}}</p>
        </div>
    </div>
</div>